<nav class="navbar navbar-default" ng-show="seasons.length > 0">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="title"><a>{{title}} &nbsp; &nbsp; &nbsp; &nbsp; > </a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Seasons <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="season in seasons"><a style="cursor: pointer;" id="{{season}}" ng-click="selectedSeason($event)">{{season}}</a></li>
          </ul>
        </li>
        <li ng-show="showSeason != undefined">
          <a> > &nbsp; &nbsp; &nbsp; &nbsp; {{showSeason}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid">
  <div id="screen" class="video">
    <embed type="application/x-vlc-plugin" name="vlc" autoplay="yes" loop="no" width="100%" height="720" id="vlc"></embed>
  </div>
  <a ng-click="nextVid()" class="btn btn-primary pull-right" ng-show="showNxtPrev">Next ></a>
  <a ng-click="prevVid()" class="btn btn-primary pull-left" ng-show="showNxtPrev">< Prev</a>
</div>
